@model BookMyShowDemo.Models.MovieModel
@{
    ViewData["Title"] = "DeleteMovie";
}

<h1>DeleteMovie</h1>

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-12">
            <div class="form-group">
                <label for="MovieId">
                    @Html.DisplayNameFor(locationobj => locationobj.MovieId)
                </label>
                @Html.TextBoxFor(locationobj => locationobj.MovieId)

            </div>
            <div class="form-group">
                <label for="Location">
                    @Html.DisplayNameFor(locationobj => locationobj.MovieName)
                </label>
                @Html.TextBoxFor(locationobj => locationobj.MovieName)
            </div>
            <div class="form-group">
                <label for="Language">
                    @Html.DisplayNameFor(locationobj => locationobj.Language)
                </label>
                @Html.TextBoxFor(locationobj => locationobj.Language)
            </div>
            <div class="form-group">
                <label for="Type">
                    @Html.DisplayNameFor(locationobj => locationobj.Type)
                </label>
                @Html.TextBoxFor(locationobj => locationobj.Type)
            </div>
            <input type="submit" value="Delete Movie" />
            <input type="button" value="Cancel" />
        </div>
    }
</div>

