@model IEnumerable<BookMyShowDemo.Models.LocationModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Location List</h1>
<hr />

@Html.ActionLink("Create Location", "CreateLocation")
<table>
    <thead>
        <tr>
            <th>LocationId</th>
            <th>Location</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(obj => item.LocationId)</td>
            <td>@Html.DisplayFor(obj => item.Location)</td>
            <td>@Html.ActionLink("Edit","EditLocation", new { id= item.LocationId})</td>
            <td>@Html.ActionLink("Delete","DeleteLocation", new { id= item.LocationId})</td>
        </tr>
        }
    </tbody>
</table>

